<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mall.order.mapper.OmsCartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.mall.pojo.order.model.OmsCart">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="sku_id" property="skuId"/>
        <result column="title" property="title"/>
        <result column="main_picture" property="mainPicture"/>
        <result column="price" property="price"/>
        <result column="quantity" property="quantity"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="bar_code" property="barCode"/>
        <result column="data" property="data"/>
    </resultMap>

    <sql id="SimpleQueryFields">
        <if test="true">
            id,
            user_id,
            sku_id,
            title,
            main_picture,
            price,
            quantity,
            gmt_create,
            gmt_modified
        </if>
    </sql>

    <insert id="saveCart" keyProperty="id" useGeneratedKeys="true">
        insert into oms_cart(user_id,
                             sku_id,
                             title,
                             main_picture,
                             price,
                             quantity)
        values (#{userId},
                #{skuId},
                #{title},
                #{mainPicture},
                #{price},
                #{quantity})
    </insert>

    <update id="updateQuantityById">
        update oms_cart
        set quantity = #{quantity}
        where id = #{id}
    </update>

    <delete id="deleteCartsByIds">
        delete from oms_cart
        where id in
        <foreach collection="array" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>

    </delete>

    <delete id="deleteCartsByUserId">
        delete
        from oms_cart
        where user_id = #{userId}
    </delete>


    <!--根据用户id和SkuId删除商品    -->
    <delete id="deleteCartByUserIdAndSkuId">
        delete
        from oms_cart
        where user_id = #{userId}
          and sku_id = #{skuId}
    </delete>

    <select id="selectExistsCart" resultMap="BaseResultMap">
        select
        <include refid="SimpleQueryFields"/>
        from
        oms_cart
        where user_id=#{userId} and sku_id=#{skuId}
    </select>


    <select id="selectCartsByUserId" resultType="cn.tedu.mall.pojo.order.vo.CartStandardVO">
        select
        <include refid="SimpleQueryFields"/>
        from oms_cart
        where user_id=#{userId}
    </select>


</mapper>

