<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mall.seckill.mapper.SeckillSpuMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.mall.pojo.seckill.model.SeckillSpu">
        <id column="id" property="id" />
        <result column="spu_id" property="spuId" />
        <result column="list_price" property="listPrice" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>
    <!--   秒杀spu表的sql语句字段的片段   -->
    <sql id="SimpleField">
        <if test="true">
            id,
            spu_id,
            list_price,
            start_time,
            end_time,
            gmt_create,
            gmt_modified
        </if>
    </sql>
    <!--  查询秒杀商品列表的方法  -->
    <select id="findSeckillSpus" resultMap="BaseResultMap" >
        select
            <include refid="SimpleField" />
        from
            seckill_spu
    </select>

    <!--  根据指定时间,查询正在进行秒杀的商品列表 -->
    <select id="findSeckillSpusByTime" resultMap="BaseResultMap">
        select
            <include refid="SimpleField" />
        from
            seckill_spu
        where
            start_time &lt; #{time}
        and
            end_time &gt; #{time}
    </select>

    <!-- 根据SpuId查询spu秒杀信息  -->
    <select id="findSeckillSpuById" resultMap="BaseResultMap">
        select
            <include refid="SimpleField" />
        from
            seckill_spu
        where
            spu_id=#{spuId}
    </select>

    <!--  布隆过滤器用:查询获得所有秒杀商品的SpuId数组  -->
    <select id="findAllSeckillSpuIds" resultType="long">
        select spu_id from seckill_spu
    </select>


</mapper>